/* Removing Bullet Points From List*/
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #ffffff;
	text-decoration: underline;
}

/*Floating List Elements to the left*/
li {
  float: left;
}

/*Styling Nav Bar*/
li a {
	font-family: Georgia, Times, serif;
	display: block;
	color: #999999;
	text-align: center;
	padding: 13px 61px;
	text-decoration: none;
	font-size: 27px;
}

/* Change the link color to #e6ffe6 (Pastel Green) on hover */
li a:hover {
	background-color: #B9D8D2;
	color: #ffffff;
}

/*Styling Heading 1 */
h1 {
	text-align: center;
	margin: 30px auto;
	font-family: Georgia, Times, serif;
	font-size: 45px;
	font-weight: 7;
	max-width: 500px;
	position: relative;
	
}

/*Setting Line Before Heading 1*/
h1:before {
  content: "";
  display: block;
  width: 543px;
  height: 1px;
  background: #000;
  left: -400px;
  top: 50%;
  position: absolute;
}

/*Setting Line After Heading 1*/
h1:after {
  content: "";
  display: block;
  width: 607px;
  height: 1px;
  background: #000;
  right: -400px;
  top: 50%;
  position: absolute;
  
}
}

body{
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: Georgia, Times, serif; 
}

.contact-title
{
	margin-top: 100;
	color: #666666;
	text-transform: uppercase;
	transition: all 4s ease-in-out;
	text-align: center;
}
.contact-title h2{
	font-size: 32px;
	line-height: 10px;
	font-family: Georgia, Times, serif; 
}
.contact-title h3{
	font-size: 16px;
	font-family: Georgia, Times, serif; 
}

/*contact form css*/
form
{
	margin-top: 50px;
	transition: all 4s ease-in-out;
	text-align: center;
}

.form-control
{
	width: 800px;
	background: #transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid gray;
	color: #666666;
	font-size: 18px;
	margin-bottom: 25px;
	text-align: center;
	
}

input
{
	height: 45px;
}

form .submit
{
	background: #A7C8C2;
	border-color: transparent;
	color: #666666;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	height: 50px;
	margin-top: 20px;
	
}

form .submit:hover
{
	background-color: #666666;
	cursor: pointer;
	color: #ffffff
}
	
	
	
	
	
	
	
	

